<p>欢迎 <%= @resource.email %>!</p>

<p>你可以通过下面的链接更改你的密码。</p>

<p><%= link_to '更改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有请求修改密码，请忽略此邮件。</p>
<p>你的密码不会改变，除非你访问上面的链接。</p>
